<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .body{
            background-color: rgba(214, 209, 209, 0.568);
        }
        .About{
            color: black;
            font-size: 30px;
        }
        .h1{
            text-align: center;
        }
    </style>
</head>

<body class="body">
    <h1 class="h1">About Us</h1>
    <div class="About">
        <p>Kladi shoes is an online store that aims to reach online customers</p>
        <p>We are dedicated to provide fast delivery of the listed commodities in the store</p>
        <p>Our web is easy to use due to its convinience in interaction</p><br>
    </div>
<div class="About">
    <p>If you have any suggestion,comment or complain you can Whatsapp or call via the following no: 0740914252</p>
</div>
<div class="About">
    <p>About the developer</p>
    <p>0115028263</p><br><br>
</div>
<a href="http://127.0.0.1:8000"  style="text-decoration: none;">Back to Mainpage</a>

</body>

</html>